In [1]:
# load Packages
import pandas as pd

In [2]:
# extract the table from the web
df = pd.read_html("https://www.cia.gov/the-world-factbook/field/population/country-comparison")

In [3]:
# you need to identify the location of the table in the html page... in this case, it is table 0
# the next line of code illustrates the data frame (like a spreadsheet)
df[0]

     Rank                  Country  Unnamed: 2 Date of Information
0       1                    China  1413142846           2023 est.
1       2                    India  1399179585           2023 est.
2       3            United States   339665118           2023 est.
3       4                Indonesia   279476346           2023 est.
4       5                 Pakistan   247653551           2023 est.
..    ...                      ...         ...                 ...
232   233                  Tokelau        1647           2019 est.
233   234          Paracel Islands        1440      July 2014 est.
234   235  Holy See (Vatican City)        1000           2022 est.
235   236  Cocos (Keeling) Islands         596      July 2014 est.
236   237         Pitcairn Islands          50           2021 est.

[237 rows x 4 columns]

In [4]:
# convert the df object into a dataframe
df = pd.DataFrame(df[0])

In [5]:
# save the dataframe as an excel file
df.to_excel('Population_table_python.xlsx')